/* bootstap container */
:root {
  --background-color: red;
  --font-size: 55px;
  --title-size: 65px;
  --score-height: 80px;
  --timer-length: 100px;
  --box-height: 480px;
  --box-width: 600px;
  --margin: 60px;
  --size2: 116px;
  --size3: 105px;
  --size4: 90px;
  --size5: 80px;
  --size6: 70px;
  --margin2: 36px;
  --margin3: 18px;
  --margin4: 6px;
  --margin5: 4px;
  --margin6: 2px;
  --replay: 80px;
  --margin-elements: 25px;
}

@media screen and (max-width: 600px) {
  :root {
    --margin-elements: 20px;
    --score-height: 50px;
    --replay: 60px;
    --timer-length: 50px;
    --box-height: 320px;
    --box-width: 380px;
    --margin: 30px;
    --size2: 68px;
    --size3: 60px;
    --size4: 52px;
    --size5: 48px;
    --size6: 44px;
    --margin2: 16px;
    --margin3: 7px;
    --margin4: 2px;
    --margin5: 2px;
    --margin6: 1px;
    --font-size: 30px;
    --title-size: 40px;
  }
  #elements li {
    size: 30px;
  }
  #play-button {
    display: none;
  }
}
body {
  padding-top: 10px;
  padding-bottom: 20px;
  background: radial-gradient(var(--background-color), 3px, transparent 5px),
    radial-gradient(var(--background-color), 3px, transparent 5px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    rgba(255, 255, 255, 0.63);
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
.all-container {
  margin: auto;
  width: var(--box-width);
  height: 100%;
  border-radius: 30px;
  background: rgba(134, 134, 134, 0.164);
}
.box-container {
  width: var(--box-width);
  min-height: 600px;
  margin: 0 auto;
}
#current-score {
  padding-left: 30px;
  font-size: var(--font-size);
  float: left;
}
#high-score {
  padding-right: 40px;
  font-size: var(--font-size);
  float: right;
}
#name {
  font-size: var(--title-size);
  font-style: bold;
  margin-bottom: 0;
  color: #007bff;
}
.score {
  color: white;
  font-family: "Sigmar One", cursive;
  text-shadow: 3px 4px rgb(104, 104, 104);
  padding: 0px;
  height: var(--score-height);
  margin: 0px;
}

.gameZone {
  width: var(--box-width);
  height: var(--box-height);
  margin: 0 auto;
  padding: 0px;
  display: flex;
  align-items: center;
}
#coin {
  display: block;
}
#playArea {
  margin: 0 auto;
}
p.title {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  color: red;
  transform: translate(-50%, -50%);
}
.button {
  border-radius: 50%;
  color: red;
  background-color: red;
}
.fa {
  color: white;
  margin: auto;
  font-size: var(--replay);
  z-index: 10;
  display: flex;
  align-items: center;
}
.replay {
  border-radius: 30px;
  margin: 0 var(--margin);
  background-color: rgba(128, 128, 128, 0.205);
  z-index: 10;
  position: absolute;
  width: var(--box-height);
  height: var(--box-height);
  display: flex;
  align-items: center;
}
.info {
  border-radius: 30px;
  margin: 0 var(--margin);
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.205);
  z-index: 10;
  width: var(--box-height);
  margin-top: var(--margin-elements);
  margin-bottom: 30px;
  color: rgb(255, 254, 254);
  text-align: center;
  font-family: "Sigmar One", cursive;
  font-size: var(--font-size);
  text-shadow: 3px 4px rgb(104, 104, 104);
}
.final-info {
  border-radius: 30px 30px 0 0;
  margin: 0 var(--margin);
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.205);
  z-index: 10;
  width: var(--box-height);
  margin-top: var(--margin-elements);
  color: rgb(255, 254, 254);
  text-align: center;
  font-family: "Sigmar One", cursive;
  font-size: var(--font-size);
  text-shadow: 3px 4px rgb(104, 104, 104);
}
.top {
  border-radius: 0 0 30px 30px;
  margin: 0 var(--margin);
  /* padding:20px; */
  background-color: rgba(128, 128, 128, 0.205);
  z-index: 10;
  width: var(--box-height);
  margin-bottom: var(--margin-elements);
  color: rgb(255, 254, 254);
  text-align: center;
  font-family: "Sigmar One", cursive;
  text-shadow: 3px 4px rgb(104, 104, 104);
}
#links {
  display: inline;
}
#links ul {
  margin-top: 20px;
  margin-bottom: 0px !important;
  padding: 0px;
}
#elements li {
  margin: 20px;
  display: inline;
}
